## Bagging CLassifier

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/diabetes.csv')

In [ ]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
from sklearn.ensemble  import RandomForestClassifier, BaggingClassifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
feature_col=['Pregnancies','Glucose','BMI','Age']

In [ ]:
x=df[feature_col]

In [ ]:
x

     Pregnancies  Glucose   BMI  Age
0              6      148  33.6   50
1              1       85  26.6   31
2              8      183  23.3   32
3              1       89  28.1   21
4              0      137  43.1   33
..           ...      ...   ...  ...
763           10      101  32.9   63
764            2      122  36.8   27
765            5      121  26.2   30
766            1      126  30.1   47
767            1       93  30.4   23

[768 rows x 4 columns]

In [ ]:
y=df.Outcome

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
bc=BaggingClassifier(DecisionTreeClassifier(),max_samples=0.5,max_features=1.0,n_estimators=10)

In [ ]:
bc.fit(x_train,y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), max_samples=0.5)

In [ ]:
x_train

     Pregnancies  Glucose   BMI  Age
732            2      174  44.5   24
349            5        0  41.0   37
313            3      113  29.5   25
122            2      107  33.6   23
342            1        0  32.0   22
..           ...      ...   ...  ...
673            3      123  57.3   22
365            5       99  34.0   30
552            6      114  27.8   66
329            6      105  30.8   37
646            1      167  23.4   33

[614 rows x 4 columns]

In [ ]:
bc.score(x_test,y_test)

0.7402597402597403