## Logistic Regression

In [ ]:
x=[[158,68,9],[162,70,9],[170,80,10],[182,82,8]]
y=["female","male","male","male"]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr=LogisticRegression()

In [ ]:
model=lr.fit(x,y)

In [ ]:
test_data=[[170,80,10]]
test_label=["male"]

In [ ]:
p=model.predict(test_data)

In [ ]:
p

array(['male'], dtype='<U6')

## Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
linr=LinearRegression()
x=[[158,68,9],[162,70,9],[170,80,10],[182,82,8]]
y=[0,1,1,1]
model1=linr.fit(x,y)

In [ ]:
test=model1.predict(test_data)

In [ ]:
test

array([1.])

In [ ]:
x1=[[10],[12],[13]]
y1=[40,50,60]

In [ ]:
from sklearn.linear_model import LinearRegression
Li=LinearRegression()
m=Li.fit(x1,y1)

In [ ]:
test_data=[[-12]]
pp=m.predict(test_data)
pp

array([-102.14285714])

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/music.csv')

In [ ]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
df.drop(columns=['genre'])

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [ ]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [ ]:
x=df.drop(columns=['genre'])

In [ ]:
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [ ]:
y=df['genre']

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
mw=LogisticRegression()

In [ ]:
music_model=mw.fit(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
pred1=music_model.predict([[21,1],[22,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
pred1

array(['HipHop', 'Dance'], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split(x,y,test_size=0.2)

[    age  gender
 4    29       1
 16   34       0
 3    26       1
 12   26       0
 6    31       1
 1    23       1
 14   30       0
 9    20       0
 13   27       0
 0    20       1
 2    25       1
 10   21       0
 7    33       1
 5    30       1,     age  gender
 11   25       0
 17   35       0
 8    37       1
 15   31       0, 4          Jazz
 16    Classical
 3          Jazz
 12     Acoustic
 6     Classical
 1        HipHop
 14     Acoustic
 9         Dance
 13     Acoustic
 0        HipHop
 2        HipHop
 10        Dance
 7     Classical
 5          Jazz
 Name: genre, dtype: object, 11        Dance
 17    Classical
 8     Classical
 15    Classical
 Name: genre, dtype: object]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)